<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %}{% endblock %} | Diginote</title>
</head>

<body>
    <div class="page">
        <header style="display: flex; justify-content: space-between;">
            <a href="{%url 'notes:all' %}">Diginote</a>
            {% if request.user.is_authenticated %}
            <span>Welcome <strong>{{ request.user.username }}</strong>, <a href="{% url 'accounts:logout' %}" title="Logout">Logout</a></span>
            {% endif %}
        </header>
        <hr />
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            <hr />
            <p>Copyright &copy; {% now "Y" %}</p>
        </footer>
    </div>
</body>
</html>